ion-icon {
    font-size: 21px;
}

body {
    background: rgb(250, 250, 250);
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 54px;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    z-index: 1;
}

.header__container {
    width: 935px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item, .header__menu {
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.mobile__direct {
    display: none;
}

.logo {
    height: 29px;
    margin-top: 6px;
}

.logo__spacer {
    width: 1px;
    height: 22px;
    background: #dbdbdb;
}

input {
    font-size: 12px;
    height: 28px;
    width: 215px;
    text-align: center;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background: rgb(250, 250, 250);
}

input:focus {
    outline: none;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 935px;
    margin: 88px auto 0 auto;
}

.stories {
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    height: 118px;
    width: 614px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 24px;
    overflow: hidden;
    position: relative;
}

.stories__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.stories--border {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/stories_background.jpg");
    background-size: cover;
    width: 66px;
    height: 66px;
    text-align: center;
    margin-bottom: 6px;
}

.stories__img {
    width: 56px;
    height: 56px;
}

.stories__name{
    text-align: center;
    font-size: 12px;
    overflow: hidden;
}

.stories__button {
    position: absolute;
    height: 35px;
    width: 35px;
    right: 0px;
    color: rgba(255, 255, 255, 0.95);
}

.sidebar__container {
    width: 293px;
    margin-top: 25px;
}

.sidebar {
    width: 293px;
    font-size: 14px;
    position: fixed;
}

.sidebar__profile {
    display: flex;
    align-items: center;
}

.sidebar__profile img {
    width: 55px;
    border-radius: 50px;
}

.sidebar__profile img, .sugestion__info img {
    margin-right: 12px;
}


.sidebar__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #8e8e8e;
}


.sidebar__sugestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.sugestion__info {
    display: flex;
    align-items: center;
}

.sugestion__info img {
    border-radius: 50px;
    width: 32px;
}

.footer__info {
    margin-top: 27px;
    font-size: 11px;
    color: #C7C7C7;
}

.text--light {
    font-weight: 400;
    font-size: 12px;
    margin-top: 7px;
    color: #8e8e8e;
}

.text--heavy {
    font-weight: 500;
    color: #262626;
}

.text--blue {
    color: #139EF2;
    font-size: 12px;
}

.posts {
    width: 614px;
    height: 100%;
}

.posts__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    margin-bottom: 60px;
}

.card__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    width: 95%;
}

.post__owner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__owner img {
    margin-right: 15px;
}

.card__body img {
    width: 614px;
}

.card__video {
    width: 614px;
}

video:focus, button:focus {
    outline: none;
}

.card__footer {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8px;
}

.card__reactions {
    display: flex;
    justify-content: space-between;
}

.card__interactions {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.card__likes {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.card__likes img {
    margin-right: 5px;
}

.card__comments {
    margin-top: 10px;
}

.comments__text {
    margin-top: 8px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.horizontal__spacer {
    height: 1px;
    width: 100%;
    background: #dbdbdb;
    margin-top: 10px;
}

.comments__input {
    height: 50px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comments__input input {
    width: 80%;
    background: #ffffff;
    border-style: none;
    text-align: left;
    font-size: 14px;
}

button {
    background: transparent;
    border-style: none;
    cursor: pointer;
}

button ion-icon:hover {
    color: red;
}

.comments__input button {
    color: #82dffc;
}

.button--hover:hover {
    transition-duration: 300ms;
    color: #0095F6;
    cursor: pointer;
}

.footer__mobile {
    display: none;
}


@media (max-width: 935px) {
    
    .header__container {
        width: 96%;
    }
    
    .sidebar {
        display: none;
    }

    .content {
        justify-content: space-between ;
        width: 614px;
    }
}

@media (max-width: 614px) {

    .header__search, .logo__spacer {
        display: none;
    }

    .mobile__direct {
        display: block;
    }

    .header__menu {
        display: none;
    }

    .header__item {
        width: 100%;
    }

    .header__container {
        width: 95%;
    }

    .stories {
        background: none;
        width: 100%;
        border: none;
        border-radius: 3px;
        margin-bottom: 0;
    }

    .stories__button {
        display: none;
    }

    .content {
        width: 100%;
        margin: 54px auto 0 auto;
    }

    .posts {
        width: 100%;
    }

    .card__body img, .card__video {
        width: 100%;
    }

    .footer__mobile {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        border-top: 1px solid #dbdbdb;
    }

    .footer__mobile ion-icon {
        margin: 0 20px;
    }
}